/* color variable declaration  */
$header-bgcolor: #ffab73;
$main-bgcolor: #f8ebe3fd;
$footer-bgcolor: #ffab73;


$para-fontsize: 16px;

/* browser reset code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $header-bgcolor;
}

nav {
    margin-top: 15px;

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            margin: 0 15px;
        }
    }
}


nav ul li a:hover {
    color: white;
    background: grey;
}


main {
    background: $main-bgcolor;
}

#about p {
    font-size: $para-fontsize;
}

footer {
    background: $footer-bgcolor;
}